$border-radius: 2rem;
$card-border-radius: 1rem;

$btn-padding: .6rem 2rem;

$base-padding: 0.77rem;

$base-margin: 1rem;

$search-padding: .6rem 1rem;
$card-padding: 1rem;

$nml-font-size: 1rem;
$sm-font-size: $nml-font-size *  0.9;
$md-font-size: $nml-font-size * 1.2;
$lg-font-size: $nml-font-size * 1.6;
$xl-font-size: $nml-font-size * 3;

$font-light-wgt: 400;
$font-semi-bold-wgt: 500;
$font-bold-wgt: 600;

$opacity: 0.75;


